#root {
  margin: 0;
  text-align: center;
}

header {
  width: auto;
  height: 80px;
  margin: 0px 15px;
  display: flex;
  border-bottom: 1px solid #c4c4c4;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main {
  width: auto;
  height: calc(100vh - 81px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.react-select__control {
  color: #000 !important;
  cursor: pointer !important;
  width: 600px;
  height: 70px;
  font-size: 20px;
}

.react-select__indicator-separator {
  background-color: #000 !important;
}

.react-select__multi-value {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #000 !important;
  height: 40px;
  width: auto;
}

.react-select__multi-value__remove:hover {
  background-color: #bdb9b9 !important;
  color: #000 !important;
  height: 40px;
  width: 22px;
}

.react-select__option {
  background-color: #fff !important;
  color: #000;
  cursor: pointer !important;
  border-bottom: 1px solid #c4c4c4;
}

.react-select__menu-list {
  background-color: #000;
  color: #000;
}

.confirm-button {
  padding: 12px;
  width: 190px;
  height: 60px;
  cursor: pointer;
  background-color: #799be6;
  color: #ffffff;
  transition: 0.5s ease;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-top: 100px;
}

.confirm-button:hover {
  background-color: transparent;
  border: 2px solid #799be6;
  box-shadow: 0 0 10px 0 #799be6 inset, 0 0 10px 4px #799be6;
}
